body{
    background-color:hsl(0, 0%, 94%);
    width: 100vw;
    // min-height: 100vh;
    overflow-x: hidden;
    // overflow-y: hidden;
}
.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 22px;
    border-bottom-right-radius: 100px;
    padding:0 1.7rem;
    margin: 6rem 1rem 1rem 1rem;
    .date{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid  hsl(0, 0%, 86%);
        padding-bottom: 4rem;
        // margin-left: .25rem;
        // margin-right: .25rem;
        margin-top: 3rem;
        position: relative;
       .box{
        display: flex;
        flex-direction: column;
        width:calc(32% - 0.125rem);
        margin-right:0.8rem;
    
        h3{
            padding-bottom: 5px;
            font-size: 13px;
            color:  hsl(0, 1%, 44%);
            font-weight: 700;
            letter-spacing:2.2px;
        }
        input{
            padding:.75rem  0rem .75rem 1rem;
           border: 1px solid rgba(0, 0, 0, 0.3);;
           border-radius: 8px;
           font-weight: 700;
           font-size: 1.25rem;
           position: relative;
           cursor: pointer;
           padding-bottom: .5rem;
        }
        span{
            color: hsl(0, 100%, 67%);
            font-size: .65rem;
            font-style: italic;
            font-weight: 400;
            padding-top: .5rem;

        }
       }
       input:focus{
        outline: none;
        border-color:hsl(259, 100%, 65%) !important;
       }
       input::placeholder{
        // padding-left: .05rem;
        // padding-top: 1rem;
        font-weight:700;
        font-size: 1.1rem;
        position: absolute;
        bottom:15%;
        left: 15%;
       }
       .box.no-margin{
        margin-right: 0px;
    }
    }
    .button{
        position: absolute;
        bottom: -26%;
        right: 38%;
        cursor: pointer;
        
    svg{
    background-color:hsl(259, 100%, 65%);
    border-radius: 50%;
    padding:20px;

    }
    }
    .button:active svg{
        background-color: hsl(0, 0%, 8%);
    }
  
       .result{
        display: flex;
        flex-direction: column;
        font-weight: 900;
        margin-top: 4rem;
        margin-bottom: 3rem;
        .box{
            display: flex;
            align-items: center;
            margin-bottom: .5rem;
            .res{
                font-size: 2.3rem ;
                font-style: italic;
                font-weight: 800;
                color: hsl(259, 100%, 65%);
                padding-right: 10px;
                
            }
            .name{
                font-size: 2.3rem ;
                font-style: italic;
                font-weight: 800;
                color: hsl(0, 0%, 8%);
            }
        }
       }

    }
 @media (min-width:375px) and (max-width:1024px){
    .result .box .res{
        font-size: 3rem !important;
    }
    .result .box .name{
        font-size: 3rem !important;
    }
    
 }
 @media (min-width:1024px) and (max-width:1250px) {
    .container{
        margin: 10rem 17rem 0rem 17rem; 
        padding:0rem 4rem;
        .date{
            padding-right: 0rem;
            justify-content:flex-start;
            padding-left: 0rem;
            .box{
                width:calc(30% - .325rem);
                margin-right:2.2rem !important;   
                h3{
                    padding-bottom: 11px;
                    font-size: 16px;
                    color: hsl(0, 1%, 44%);
                    font-weight: 700;
                    letter-spacing: 3.2px;
                }
                input{
                    padding:.75rem  0rem .75rem 1.65rem;
                    font-size: 2rem;
                    margin-bottom: .75rem;
                    position: relative;
                }
                span{
                    font-size: .75rem;
                    font-style: italic;
                    color:hsl(0, 100%, 67%);
                    font-weight: 400;
                }
            }
            input::placeholder{
               position: absolute;
               bottom:15%;
               left: 15%;
                font-weight:700;
                font-size: 1.5rem;
               }
               .box.no-margin{
                margin-right: 0px;
            }
            .button{
                bottom: -26%;
                right: 0%;
                svg{
                    width:81px; 
                    height:80px;
                    padding: 21.5px;
                }
                g{
                    stroke-width:2px;
                }
            }
        }
        .result{
            .box{
                .res{
                    font-size: 3rem;
                }
                .name{
                    font-size: 3rem;
                }
            }
        }
    }
    
 }
 @media (min-width:1250px) and (max-width:4000px) {
    .container{
        margin: 10rem 17rem 0rem 17rem; 
        padding:0rem 4rem;
        .date{
            padding-right: 13rem;
            justify-content:flex-start;
            // padding-left: 2rem;
            .box{
                width:calc(30% - .325rem);
                margin-right:2.2rem !important;   
                h3{
                    padding-bottom: 11px;
                    font-size: 16px;
                    color: hsl(0, 1%, 44%);
                    font-weight: 700;
                    letter-spacing: 3.2px;
                }
                input{
                    padding:.75rem  0rem .75rem 1.65rem;
                    font-size: 2rem;
                    margin-bottom: .75rem;
                    position: relative;
                }
                span{
                    font-size: .75rem;
                    font-style: italic;
                    color:hsl(0, 100%, 67%);
                    font-weight: 400;
                }
            }
            input::placeholder{
               position: absolute;
               bottom:15%;
               left: 15%;
                font-weight:700;
                font-size: 2rem;
               }
               .box.no-margin{
                margin-right: 0px;
            }
            .button{
                bottom: -26%;
                right: 0%;
                svg{
                    width:81px; 
                    height:80px;
                    padding: 21.5px;
                }
                g{
                    stroke-width:2px;
                }
            }
        }
        .result{
            .box{
                .res{
                    font-size: 6.4rem;
                }
                .name{
                    font-size: 6.4rem;
                }
            }
        }
    }  
}

.borderred{
    border-color:hsl(0, 100%, 67%) !important;
}
.colorred{
    color: hsl(0, 100%, 67%) !important;
}


